*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header1{
    display: flex;
    width: 100%;
    background-color: #3C3679;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
}
.header2{
    display: flex;
    width: 100%;
    height: 100px;
    padding: 0px 70px 0px 70px;
    align-items: center;
}
.logo{
    display: flex;
    padding: 5px 5px 5px 5px;
}
.companyname{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 0px 0px 0px 5px;
}
.subname{
    font-size: 8px;
    align-items: start;
}
.navbar {
  display: flex;
}
ul {
    list-style-type: none;
    padding: 10px 0px 0px 90px;
}
li {
    float: left;
    width: auto;
}
li a {
  display: block;
  color: #201C44;
  text-align: center;
  padding: 0px 60px 10px 0px;
  text-underline-position: below;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
li a:hover:not(.active) {
    text-decoration: underline;
    color: #333333;
}
.contactnow1{
    display: flex;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 460px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #FAE0E1;
    color:#131126;
    border: 0px;
    border-radius: 5px;
}
.section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 40px 70px 40px 70px;
}
.section1text{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.section1text1{
    font-size: 52px;
    font-weight: bold;
    color: #201C44;
    padding: 40px 0px 30px 0px;
}
.section1text2{
    font-size: 16px;
    color: #201C44;
    width: 80%;
    padding: 0px 0px 30px 0px;
}
.section1text3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    padding: 0px 0px 30px 0px;
}
.contactnow2{
    display: flex;
    padding: 18px 20px 18px 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
    background-color: #FAE0E1;
    color:#131126;
    border: 0px;
    border-radius: 5px;
}
.anglesign{
    margin: 0px 0px 0px 20px;
}
.bookdemo{
    margin: 0px 0px 0px 20px;
    font-size: 16px;
    font-weight: bold;
}
.section1text4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
}
.rated{
    margin: 0px 0px 0px 20px;
}
.section1image{
    display: flex;
    width: 50%;
    padding: 0px;
}
.section1image1{
    padding: 0px;
    margin: 40px 0px 0px -100px;
    z-index: 1;
}
.section1image2{
    margin: 0px 0px 0px -300px;
    display: flex;
    width: 560px;
    height: 560px;
}
.section2{
    display: flex;
    width: 100%;
    padding: 50px 70px 50px 70px;
}
.ad{
    display: flex;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    padding: 40px;
    align-items: center;
    justify-content: space-between;
}
.adtext{
    color: #131126;
    font-size: 18px;
    width: 200px;
    margin-right: 70px;
    line-height: 30px;
    font-weight: bold;
}
.ad1{
    padding: 0px 38px;
}
